
.m0 {
  margin: 0;
}
.p0 {
  padding: 0;
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
body {
  position: relative;
}
/*Floating*/
.fleft {
  float: left;
}
.fright {
  float: right;
}
/*Section Fix*/
section.row,
header.row,
footer.row {
  margin: 0;
  position: relative;
}
/*Ancore*/
a,
.btn,
button {
  outline: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
a:focus,
.btn:focus,
button:focus,
a:hover,
.btn:hover,
button:hover {
  outline: none;
  text-decoration: none;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
/*Section Padding*/
.contentRowPad {
  padding: 100px 0;
}
.contentRowPad.pb0 {
  padding-bottom: 0;
}
/*Section Title*/
.sectionTitle {
  color: #303030;
  text-align: center;
  max-width: 770px;
  margin: 0 auto 50px;
}
.sectionTitle h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.sectionTitle p {
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  margin: 0;
}
/*----------------------------------------------------------------*/
header .topRow {
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #676767;
  line-height: 50px;
  background: #303030;
}
header .topRow .fright .fleft + .fleft {
  margin-left: 25px;
}
header .searchFormRow {
  background: #303030;
  border-top: 1px solid #000000;
}
header .searchFormRow form .input-group .form-control {
  border-radius: 0;
  line-height: 80px;
  height: 80px;
  background: none;
  border-color: transparent;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  padding: 0 15px;
  color: #fff;
}
header .searchFormRow form .input-group .form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(103, 103, 103, 0.2);
}
header .searchFormRow form .input-group .form-control:focus + .input-group-addon {
  background: rgba(103, 103, 103, 0.2);
}
header .searchFormRow form .input-group .form-control::-moz-placeholder,
header .searchFormRow form .input-group .form-control:-ms-input-placeholder,
header .searchFormRow form .input-group .form-control::-webkit-input-placeholder {
  color: #FFF;
  opacity: 1;
}
header .searchFormRow form .input-group .input-group-addon {
  border-radius: 0;
  border-color: transparent;
  background: none;
  font-size: 30px;
  padding: 0 15px;
  color: #fff;
  line-height: 80px;
  border: none;
}
header .bottomRow .navbar {
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .bottomRow .navbar .navbar-header .navbar-brand {
  line-height: 100px;
  height: 100px;
  padding: 0 15px;
  display: block;
}
header .bottomRow .navbar .navbar-header .navbar-brand img {
  display: inline-block;
  max-width: 100%;
}
header .bottomRow .navbar #mainNav .nav li a {
  padding: 0 15px;
  line-height: 100px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  color: #303030;
}
header .bottomRow .navbar #mainNav .nav li a:hover {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 188, 212,0.5);
}
header .bottomRow .navbar #mainNav .nav li a:focus {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .bottomRow .navbar #mainNav .nav li.active a {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: rgba(0, 188, 212,0.5);
  position: relative;
}
header .bottomRow .navbar #mainNav .nav li.active a:after {
  width: 4px;
  height: 4px;
  content: '';
  background: rgba(0, 188, 212,0.5);
  display: block;
  position: absolute;
  top: 65px;
  left: -webkit-calc(50% - 2px);
  left: calc(50% - 2px);
  border-radius: 100%;
}
header .bottomRow .navbar #mainNav .nav li.open a {
  color: rgba(0, 188, 212,0.5);
}
header .bottomRow .navbar #mainNav .nav li.open a:after {
  display: none;
}
header .bottomRow .navbar #mainNav .nav li.dropdown a,
header .bottomRow .navbar #mainNav .nav li.open a {
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .bottomRow .navbar #mainNav .nav li.dropdown .dropdown-menu,
header .bottomRow .navbar #mainNav .nav li.open .dropdown-menu {
  border-radius: 0;
}
header .bottomRow .navbar #mainNav .nav li.dropdown .dropdown-menu li + li,
header .bottomRow .navbar #mainNav .nav li.open .dropdown-menu li + li {
  border-top: 1px solid rgba(48, 48, 48, 0.1);
}
header .bottomRow .navbar #mainNav .nav li.dropdown .dropdown-menu li a,
header .bottomRow .navbar #mainNav .nav li.open .dropdown-menu li a {
  line-height: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #303030;
}
header .bottomRow .navbar #mainNav .nav li.dropdown .dropdown-menu li a:after,
header .bottomRow .navbar #mainNav .nav li.open .dropdown-menu li a:after {
  display: none;
}
header .bottomRow .navbar #mainNav .nav > li:last-child {
  padding: 40px 0;
}
header .bottomRow .navbar #mainNav .nav > li:last-child a {
  border-left: 2px dotted #676767;
  line-height: 20px;
}
header .bottomRow .navbar #mainNav .nav > li:last-child a:focus {
  color: #303030;
}
header .bottomRow .navbar #mainNav .nav > li:last-child a.open {
  color: rgba(0, 188, 212,0.5);
}
header.home2 {
  margin-top: 30px;
}
header.home2 .container {
  border-radius: 3px;
  background: #fff;
}
header.home2 .searchFormRow {
  position: absolute;
  padding: 0;
  border: none;
  width: 100%;
  background: none;
}
header.home2 .searchFormRow .container {
  background: #303030;
  padding: 0;
}
/*----------------------------------------------------------------*/
#topFooter {
  background: #303030;
  padding-bottom: 0;
}
#topFooter:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 60px;
  background: #2d2d2d;
  z-index: 0;
}
#topFooter.topFooter2 {
  padding-bottom: 30px;
}
#topFooter.topFooter2:after {
  display: none;
}
.footer_widgetRow {
  position: relative;
  z-index: 2;
}
.footer_widget {
  min-height: 188px;
  margin-bottom: 40px;
}
.footer_widget .widgetHeading {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  line-height: 28px;
  margin: 0 0 20px;
}
.footer_widget .widgetHeading img {
  margin-right: 15px;
}
.footer_widget .widgetHeading span {
  display: inline-block;
  width: 5px;
  height: 13px;
  margin-right: 10px;
  background: rgba(0, 188, 212,0.5);
}
.footer_widget p {
  color: #676767;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}
.footer_widget address {
  color: #676767;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 30px;
}
.footer_widget .list-menu li a {
  color: #676767;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 30px;
}
.footer_widget .list-menu li a:hover {
  color: rgba(0, 188, 212,0.5);
}
.footer_widget .nav {
  margin: 0 -5px;
}
.footer_widget .nav li {
  margin: 0 5px 10px;
}
.footer_widget .nav li a {
  padding: 0;
  width: 60px;
  height: 60px;
}
.footer_widget .nav li a img {
  width: 100%;
  border-radius: 3px;
}
.footer_widget .nav li a:hover {
  background: none;
}
.newsletterRow {
  background: url('../images/newsletterBg.jpg') no-repeat scroll center 0 rgba(0, 188, 212,0.5);
  padding: 35px 68px;
  border-radius: 3px;
  position: relative;
  z-index: 2;
}
.newsletterRow .form-inline .form-control {
  width: 700px;
  margin: 4px 30px 0;
  padding: 0 30px;
  line-height: 40px;
  height: 40px;
  background: rgba(48, 48, 48, 0.2);
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: rgba(48, 48, 48, 0.7);
  border-radius: 3px;
  float: left;
}
.newsletterRow .form-inline .form-control::-moz-placeholder {
  color: rgba(48, 48, 48, 0.7);
  opacity: 1;
}
.newsletterRow .form-inline .form-control:-ms-input-placeholder {
  color: rgba(48, 48, 48, 0.7);
  opacity: 1;
}
.newsletterRow .form-inline .form-control::-webkit-input-placeholder {
  color: rgba(48, 48, 48, 0.7);
  opacity: 1;
}
.newsletterRow .form-inline button {
  padding: 0;
  background: none;
  border-radius: 3px;
  border: 2px solid  #000;
  line-height: 36px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #303030;
  padding: 0 22px;
  margin-top: 4px;
}
footer {
  background: #2d2d2d;
  padding: 50px 0 40px;
  text-align: center;
}
footer ul {
  margin: 0 0 15px;
  padding: 0;
}
footer ul li {
  display: inline-block;
  padding: 0 5px;
}
footer ul li a {
  width: 30px;
  line-height: 30px;
  border-radius: 10px;
  background: #282828;
  color: rgba(0, 188, 212,0.5);
  display: block;
}
footer ul li a:hover {
  color: #282828;
  background: rgba(0, 188, 212,0.5);
}
footer p {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #676767;
  margin: 0;
}
footer p i {
  color: rgba(0, 188, 212,0.5);
  margin: 0 3px;
}
/*----------------------------------------------------------------*/
#heroBox {
  height: 610px;
  background: url('../images/slide.jpg') no-repeat scroll center 0;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #fff;
  padding-top: 220px;
  text-transform: uppercase;
}
#heroBox h5 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
}
#heroBox h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 48px;
  margin: 0;
  line-height: 70px;
}
#heroBox h4 {
  font-family: 'Lato', sans-serif;
  margin: 0;
  text-transform: none;
}
#heroBox a {
  display: inline-block;
  line-height: 40px;
  padding: 0 37px;
  background: rgba(0, 188, 212,0.5);
  color: #303030;
  border-radius: 3px;
  margin-top: 40px;
  font-family: 'Montserrat', sans-serif;
}
#heroBox.home2 {
  background: url('../images/home2hero.jpg') no-repeat scroll center 0;
  position: relative;
  z-index: -1;
  top: -130px;
  margin-bottom: -320px;
  height: 910px;
}
/*----------------------------------------------------------------*/
#banner {
  text-transform: uppercase;
  padding: 55px 0;
  background: rgba(0, 188, 212,0.5);
}
#banner h4 {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  float: left;
  line-height: 39px;
  margin: 0;
}
#banner a {
  float: right;
  display: block;
  line-height: 35px;
  padding: 0 22px;
  border: 2px solid #303030;
  color: #303030;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
}
#banner2 {
  text-transform: uppercase;
  padding: 73px 0;
  background: rgba(243, 208, 40, 0.95);
}
#banner2 h5 {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
}
#banner2 h4 {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  line-height: 1.4;
  margin: 0;
}
#banner2 a {
  float: right;
  display: block;
  line-height: 35px;
  padding: 0 22px;
  border: 2px solid #303030;
  color: #303030;
  font-family: 'Montserrat', sans-serif;
  border-radius: 3px;
}
/*----------------------------------------------------------------*/
.blogsSection.homeBlogArea {
  padding: 85px 0;
}
.blogsSection .blog {
  margin: 15px 0;
  cursor: crosshair;
}
.blogsSection .blog .blog_title {
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  margin: 30px 0 15px;
}
.blogsSection .blog .blog_title a {
  color: #303030;
  display: inline-block;
}
.blogsSection .blog .postMeta {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  line-height: 1;
  margin: 20px 0;
  color: rgba(48, 48, 48, 0.5);
}
.blogsSection .blog .postMeta i {
  margin-right: 10px;
}
.blogsSection .blog .postMeta a {
  color: rgba(48, 48, 48, 0.5);
}
.blogsSection .blog .postMeta .fleft {
  margin-right: 40px;
}
.blogsSection .blog p {
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  font-weight: 400;
  color: #303030;
}
.blogsSection .blog a.read_more {
  text-transform: uppercase;
  color: rgba(0, 188, 212,0.5);
  display: inline-block;
  line-height: 14px;
}
.blogsSection .blog a.read_more i {
  margin-right: 0;
  width: 0;
  overflow: hidden;
  float: left;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.blogsSection .blog:hover .blog_title a {
  color: rgba(0, 188, 212,0.5);
}
.blogsSection .blog:hover a.read_more i {
  margin-right: 5px;
  width: auto;
}
.blogsSection .blog.blog_page {
  margin: 0;
}
.blogsSection .blog.blog_page + .blog {
  margin-top: 90px;
}
.blogsSection .blog.blog_page .blog_title {
  text-transform: none;
  margin: 20px 0 5px;
}
.blogsSection .blog.blog_page .postMeta {
  margin: 0;
  font-style: normal;
}
.blogsSection .blog.blog_page p {
  margin: 20px 0;
}
.blogsSection .blog.blog_page a.read_more i {
  margin-right: 5px;
  width: auto;
}
.blogsSection .blog.blog_page .post_thumbnail_row .post_thumbnail {
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
}
.blogsSection .blog.blog_page .post_thumbnail_row .post_thumbnail_bg {
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  top: 10px;
  left: 10px;
}
.blogsSection .blog.blog_page .post_thumbnail_row i {
  bottom: -10px;
}
.blogsSection .blog.blog_page.single_blog .contents {
  padding: 30px;
}
.blogsSection .blog.blog_page.single_blog .contents .blog_title {
  text-transform: uppercase;
}
.blogsSection .blog.blog_page.single_blog .contents .postMeta {
  font-style: italic;
}
.blogsSection .blog.blog_page.single_blog .contents .postMeta a {
  color: rgba(0, 188, 212,0.5);
}
.blogsSection .blog.blog_page.single_blog .contents p {
  margin: 30px 0;
  color: #000;
}
.blogsSection .blog.blog_page.single_blog .contents blockquote {
  border-left-color: rgba(0, 188, 212,0.5);
  font-family: 'Lato', sans-serif;
  font-style: italic;
  line-height: 24px;
  font-weight: 400;
  color: #acacac;
}
.blogsSection .blog.blog_page.single_blog .contents .list {
  list-style: none;
  padding: 0 0 0 70px;
  margin: 0;
}
.blogsSection .blog.blog_page.single_blog .contents .list li {
  font-family: 'Lato', sans-serif;
  line-height: 36px;
  color: #000;
  font-weight: 400;
}
.blogsSection .blog.blog_page.single_blog .contents .list li:before {
  content: "■";
  color: rgba(0, 188, 212,0.5);
  margin-right: 10px;
}
.blogsSection.home2 {
  background: url('../images/blog/blog-bg.jpg') no-repeat scroll center rgba(31, 39, 49, 0.95);
  padding: 85px 0;
}
.blogsSection.home2 .blog_title a {
  color: #fff;
}
.blogsSection.home2 p {
  color: #fff;
}
.post_thumbnail_row {
  position: relative;
}
.post_thumbnail_row .post_thumbnail {
  width: -webkit-calc(100% - 5px);
  width: calc(100% - 5px);
  z-index: 2;
  position: relative;
  border-radius: 3px;
}
.post_thumbnail_row .post_thumbnail_bg {
  position: absolute;
  width: -webkit-calc(100% - 5px);
  width: calc(100% - 5px);
  height: 100%;
  top: 5px;
  left: 5px;
  background: rgba(0, 188, 212,0.5);
  border-radius: 3px;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.post_thumbnail_row i {
  position: absolute;
  right: 0;
  bottom: -5px;
  z-index: 4;
  border-radius: 3px;
  background: rgba(0, 188, 212,0.5);
  color: #303030;
  font-size: 48px;
  line-height: 100px;
  width: 100px;
  text-align: center;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.post_thumbnail_row:hover .post_thumbnail_bg {
  background: #303030;
}
.post_thumbnail_row:hover i {
  color: rgba(0, 188, 212,0.5);
  background: #303030;
}
#featureBlog {
  background: url('../images/blog/fetured-bg.jpg') no-repeat scroll center 0 #272f38;
}
#featureBlog .container {
  padding: 0 85px;
}
.featureBlog {
  cursor: crosshair;
}
.featureBlog .media-left {
  width: 425px;
}
.featureBlog .media-left .post_thumbnail_row {
  padding: 0;
}
.featureBlog .media-left .post_thumbnail_row .post_thumbnail {
  width: auto;
  max-width: 100%;
}
.featureBlog .media-left .post_thumbnail_row .post_thumbnail_bg {
  width: 100%;
  height: 100%;
  top: 10px;
  left: 10px;
}
.featureBlog .media-left .post_thumbnail_row i {
  right: -10px;
  bottom: -10px;
}
.featureBlog .media-body {
  padding-left: 110px;
  padding-top: 40px;
}
.featureBlog .media-body .featureCount {
  color: rgba(255, 255, 255, 0.1);
  font-size: 60px;
  line-height: 1;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.featureBlog .media-body .featureCount span {
  float: right;
}
.featureBlog .media-body .blog_title {
  margin: 25px 0 0;
}
.featureBlog .media-body .blog_title a {
  line-height: 50px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  color: #fff;
}
.featureBlog .media-body p {
  color: #fff;
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 45px;
}
.featureBlog .media-body .moreDetail {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.2);
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 25px;
  display: inline-block;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
.featureBlog .media-body .moreDetail:hover {
  color: #FFF;
  border: 2px solid #FFF;
}
.featureBlog:hover .post_thumbnail_row .post_thumbnail_bg {
  background: #303030;
}
.featureBlog:hover .post_thumbnail_row i {
  color: rgba(0, 188, 212,0.5);
  background: #303030;
}
.viewAllBlog {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: rgba(48, 48, 48, 0.5);
}
.viewAllBlog i {
  margin-right: 10px;
}
.youMightLike {
  padding: 80px 30px;
}
.youMightLike h4 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
}
.youMightLike .youMightLikeBlog img {
  width: 100%;
}
.youMightLike .youMightLikeBlog h6 {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
.youMightLike .youMightLikeBlog .meta {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  color: #acacac;
  font-style: italic;
}
/*----------------------------------------------------------------*/
.whyChooseRow {
  padding-top: 50px;
}
.whyChoose {
  margin-top: 50px;
  color: #303030;
}
.whyChoose h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}
.whyChoose h4 i {
  color: rgba(0, 188, 212,0.5);
  margin-right: 15px;
  margin-left: 0;
}
.whyChoose p {
  line-height: 24px;
  font-family: 'Lato', sans-serif;
  margin-bottom: 0;
  font-weight: 400;
}
/*----------------------------------------------------------------*/
#workWithUs {
  background: url('../images/workWithUs.jpg') no-repeat scroll center 0 #272f38;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.workWithUs h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  margin-top: 45px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.workWithUs h2 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 36px;
  color: #fff;
  margin: 0;
  line-height: 48px;
}
.workWithUs a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 50px;
  border-radius: 3px;
  display: inline-block;
  line-height: 40px;
  padding: 0 45px;
  background: rgba(0, 188, 212,0.5);
  text-transform: uppercase;
}
.workWithUs a:hover {
  color: rgba(0, 188, 212,0.5);
  background: #303030;
}
/*----------------------------------------------------------------*/
#whoInCharge {
  padding-bottom: 0;
}
.teamSection {
  position: relative;
}
.team_member {
  height: 455px;
  position: relative;
  cursor: crosshair;
}
.team_member .row .image {
  text-align: center;
  margin: 0;
  z-index: 2;
  position: relative;
}
.team_member .row .memberIntro {
  position: absolute;
  width: 0;
  height: 100%;
  background: rgba(0, 188, 212,0.5);
  top: 0;
  right: 45%;
  border-radius: 3px 3px 0 0;
  z-index: 1;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.team_member .row .memberIntro h3,
.team_member .row .memberIntro h5 {
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  margin: 0;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  bottom: 95px;
  right: -200px;
  line-height: 1.2;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.team_member .row .memberIntro h3 {
  font-weight: bold;
}
.team_member .row .memberIntro h5 {
  bottom: 75px;
}
.team_member .row:hover .memberIntro {
  width: 45%;
  right: 0;
}
.team_member .row:hover .memberIntro h3,
.team_member .row:hover .memberIntro h5 {
  right: -30px;
}
/*----------------------------------------------------------------*/
.countersRow {
  padding: 50px 0;
  background: #f3f3f3;
}
.countersRow .counterCol {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: #303030;
  border-right: 1px solid  #e5e5e5;
  padding: 35px 15px 45px;
}
.countersRow .counterCol:last-child {
  border-right: 0;
}
.countersRow .counterCol .counter {
  display: block;
  font-weight: bold;
  font-size: 32px;
  line-height: 50px;
}
/*----------------------------------------------------------------*/
#testimonial {
  background: url('../images/testimonial/testimonail.jpg') no-repeat scroll center 0 rgba(0, 188, 212,0.5);
}
.testimonialSlide {
  background: none;
  border: none;
}
.testimonialSlide .slides .testimonial {
  text-align: center;
}
.testimonialSlide .slides .testimonial .testimonialText {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-style: italic;
  max-width: 630px;
  margin: 0 auto 40px;
  position: relative;
}
.testimonialSlide .slides .testimonial .testimonialText:before,
.testimonialSlide .slides .testimonial .testimonialText:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  position: absolute;
  top: 20px;
  color: rgba(48, 48, 48, 0.15);
  font-size: 48px;
}
.testimonialSlide .slides .testimonial .testimonialText:before {
  content: "\f10d";
  left: -145px;
}
.testimonialSlide .slides .testimonial .testimonialText:after {
  content: "\f10e";
  right: -145px;
}
.testimonialSlide .slides .testimonial .clientPhoto {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin: 20px auto;
}
.testimonialSlide .slides .testimonial .clientPhoto img {
  border-radius: 100%;
  width: 100%;
}
.testimonialSlide .slides .testimonial h5 {
  font-family: 'Montserrat', sans-serif;
  margin-top: 5px;
  line-height: 1.2;
}
.testimonialSlide .slides .testimonial h5 span {
  font-family: 'Lato', sans-serif;
  display: block;
  color: rgba(48, 48, 48, 0.5);
  font-style: italic;
}
/*----------------------------------------------------------------*/
/*----------------------------------------------------------------*/
#partners {
  text-align: center;
  background: #f3f3f3;
  line-height: 1;
  padding: 50px 0;
}
#partners .col-sm-3 {
  padding: 40px 15px;
  border-right: 1px solid  #e5e5e5;
}
#partners .col-sm-3:last-child {
  border-right: 0;
}
#partners img {
  display: inline-block;
}
/*----------------------------------------------------------------*/
#pageCover {
  background: url('../images/pageCover.jpg') no-repeat scroll center 0;
  padding: 40px 0;
  position: relative;
}
#pageCover h3 {
  line-height: 85px;
  background: rgba(209, 175, 4, 0.2);
  width: 160px;
  padding-left: 15px;
  display: inline-block;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
}
#pageCover h3:before {
  content: '';
  width: -webkit-calc(50% - 600px);
  width: calc(50% - 600px);
  height: 85px;
  background: rgba(209, 175, 4, 0.2);
  position: absolute;
  left: 0;
}
#pageCover .pageDirection {
  width: -webkit-calc(100% - 160px);
  width: calc(100% - 160px);
  margin-left: 160px;
  background: rgba(209, 175, 4, 0.2);
}
#pageCover .pageDirection:before {
  content: '';
  width: -webkit-calc(50% - 600px);
  width: calc(50% - 600px);
  height: 35px;
  background: rgba(209, 175, 4, 0.2);
  position: absolute;
  right: 0;
}
#pageCover .pageDirection .breadcrumb {
  background: none;
  padding: 0;
}
#pageCover .pageDirection .breadcrumb li {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  line-height: 35px;
}
#pageCover .pageDirection .breadcrumb li a {
  color: #FFF;
  padding: 0;
}
/*----------------------------------------------------------------*/
.ourStory h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 25px;
}
.ourStory .media .media-left {
  padding: 0;
}
.ourStory .media .media-left .post_thumbnail_row {
  width: 270px;
  padding: 0;
}
.ourStory .media .media-left .post_thumbnail_row .post_thumbnail {
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
}
.ourStory .media .media-left .post_thumbnail_row .post_thumbnail_bg {
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  top: 10px;
  left: 10px;
}
.ourStory .media .media-body {
  padding-left: 25px;
  color: #acacac;
  font-family: 'Lato', sans-serif;
  line-height: 24px;
}
#ourStory .whyChoose {
  margin-top: 0;
  margin-bottom: 50px;
}
#ourStory .whyChoose:last-child {
  margin-bottom: 0;
}
/*----------------------------------------------------------------*/
#services_single:before {
  content: '';
  width: -webkit-calc(50% - 585px + 270px);
  width: calc(50% - 585px + 270px);
  height: 1200px;
  background: #f3f3f3;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}
#services_single .container {
  position: relative;
}
#services_single .container .tab_menu {
  padding-top: 100px;
  padding-bottom: 100px;
}
#services_single .container .tab_menu .nav-tabs {
  border: none;
  background: #f3f3f3;
}
#services_single .container .tab_menu .nav-tabs li {
  width: 100%;
}
#services_single .container .tab_menu .nav-tabs li a {
  border-radius: 0;
  border: none;
  text-align: right;
  padding: 0 25px;
  line-height: 40px;
  color: #303030;
  display: inline-block;
  float: right;
  margin: 0;
}
#services_single .container .tab_menu .nav-tabs li.active {
  margin: 0;
}
#services_single .container .tab_menu .nav-tabs li.active a {
  color: rgba(0, 188, 212,0.5);
  background: #fff;
}
#services_single .container .tab_contents {
  padding-top: 100px;
  padding-bottom: 100px;
}
#services_single .container .tab_contents .pageCover {
  padding: 0 30px;
  background: url('../images/services/tab-cover.jpg') no-repeat scroll 0 0;
  border-radius: 3px;
}
#services_single .container .tab_contents .pageCover h3 {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 60px;
}
#services_single .container .tab_contents .serviceTexts {
  margin-bottom: 60px;
}
#services_single .container .tab_contents .serviceTexts h4 {
  font-family: 'Lato', sans-serif;
  line-height: 1;
  color: #303030;
}
#services_single .container .tab_contents .serviceTexts p {
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  color: #303030;
  margin: 30px 0;
}
/*----------------------------------------------------------------*/
.projectsDoneTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #303030;
  margin-top: 0;
}
.porjectTitle {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #303030;
  margin-top: 25px;
  margin-bottom: 5px;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out 0s;
  transition: all 300ms ease-in-out 0s;
}
.project_meta {
  font-family: 'Lato', sans-serif;
  color: rgba(48, 48, 48, 0.5);
}
.project_meta i {
  margin-right: 5px;
}
.project_meta .project_category {
  margin-right: 30px;
}
.project {
  cursor: crosshair;
  padding-top: 20px;
  padding-bottom: 20px;
}
.project .post_thumbnail_row i {
  line-height: 50px;
  width: 50px;
  font-size: 24px;
}
.project:hover .porjectTitle {
  color: rgba(0, 188, 212,0.5);
}
.project.col-sm-6 .post_thumbnail_row i {
  line-height: 100px;
  width: 100px;
  font-size: 48px;
}
.project.col-sm-4 .post_thumbnail_row i {
  line-height: 70px;
  width: 70px;
  font-size: 31px;
}
.filtersRow #filters {
  margin: 0 0 25px;
  padding: 0;
}
.filtersRow #filters li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  padding: 0 10px;
  color: #303030;
}
.filtersRow #filters li.active {
  color: rgba(0, 188, 212,0.5);
}
#relatedProjects {
  background: #f3f3f3;
}
#relatedProjects .sectionTitle {
  margin-bottom: 20px;
}
/*----------------------------------------------------------------*/
.single-project .project-description .projectImages {
  position: relative;
  margin-bottom: 10px;
}
.single-project .project-description .projectImages .projectImgSlider {
  border: none;
  border-radius: 3px;
  position: relative;
  z-index: 2;
  overflow: hidden;
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
}
.single-project .project-description .projectImages .projectImgSlider .flex-direction-nav:after {
  content: '';
  width: 4px;
  height: 90px;
  background: url('../images/projects/dots.png') no-repeat scroll center center rgba(0, 188, 212,0.5);
  position: absolute;
  bottom: 0;
  right: 90px;
  opacity: 1 !important;
  z-index: 100;
}
.single-project .project-description .projectImages .projectImgSlider .flex-direction-nav a {
  position: absolute;
  display: block;
  opacity: 1 !important;
  width: 90px;
  height: 90px;
  line-height: 90px;
  text-align: center;
  background: rgba(0, 188, 212,0.5);
  border-bottom-left-radius: 0;
  color: #303030;
  font-size: 48px;
  top: auto;
  bottom: 0;
  margin: 0;
}
.single-project .project-description .projectImages .projectImgSlider .flex-direction-nav a:before {
  display: none;
}
.single-project .project-description .projectImages .projectImgSlider .flex-direction-nav a.flex-prev {
  left: auto;
  right: 94px;
}
.single-project .project-description .projectImages .projectImgSlider .flex-direction-nav a.flex-next {
  right: 0;
}
.single-project .project-description .projectImages .thumbnail_bg {
  position: absolute;
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  height: 100%;
  z-index: 0;
  background: rgba(0, 188, 212,0.5);
  top: 10px;
  left: 10px;
  border-radius: 3px;
}
.single-project .project-description .description_row {
  color: #303030;
}
.single-project .project-description .description_row h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1;
  margin: 30px 0 25px;
  text-transform: uppercase;
}
.single-project .project-description .description_row p {
  font-family: 'Lato', sans-serif;
  font-weight: normal;
  line-height: 24px;
  margin: 0;
}
.single-project .project_about h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 20px;
}
.single-project .project_about p {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
}
.single-project .project_about dl {
  margin-bottom: 0;
}
.single-project .project_about dl dt {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}
.single-project .project_about dl dd {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  font-weight: bold;
}
.single-project .project_about .list-inline {
  padding: 0;
  margin: 0;
}
.single-project .project_about .list-inline li {
  padding: 0;
}
.single-project .project_about .list-inline li + li {
  margin-left: 16px;
}
.single-project .project_about .list-inline li a {
  font-size: 18px;
  color: #676767;
  line-height: 1;
}
.single-project .project_about .list-inline li a:hover {
  color: #303030;
}
.single-project .project_about .aboutRow {
  margin-bottom: 35px;
}
nav.single_project_nav .pager {
  padding: 20px 0 0;
  border-top: 1px solid #acacac;
  margin-top: 30px;
}
nav.single_project_nav .pager li a {
  font-size: 24px;
}
nav.single_project_nav .pager li a:hover {
  color: #303030;
}
/*----------------------------------------------------------------*/
.widget {
  margin-bottom: 40px;
}
.widget.latest_blogs .media {
  margin: 0;
}
.widget.latest_blogs .media + .media {
  margin-top: 20px;
}
.widget.latest_blogs .media .media-left {
  padding: 0;
  padding-right: 15px;
}
.widget.latest_blogs .media .media-left a {
  width: 70px;
  height: 70px;
  display: block;
}
.widget.latest_blogs .media .media-left a img {
  width: 100%;
}
.widget.latest_blogs .media .media-body a {
  color: #acacac;
}
.widget.latest_blogs .media .media-body a h5 {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin: 0;
  line-height: 24px;
}
.widget.latest_blogs .media .media-body a:hover {
  color: #303030;
}
.widget.categories ul li {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 30px;
}
.widget.categories ul li a {
  color: #acacac;
}
.widget.categories ul li a:hover {
  color: rgba(0, 188, 212,0.5);
}
.widget.calendar .zabuto_calendar table {
  border-color: #e6e6e6;
}
.widget.calendar .zabuto_calendar table .calendar-month-header th {
  line-height: 50px;
  padding: 0;
  border-color: #e6e6e6;
}
.widget.calendar .zabuto_calendar table .calendar-month-header th span {
  padding: 0;
}
.widget.calendar .zabuto_calendar table .calendar-month-header th .calendar-month-navigation {
  padding: 0;
}
.widget.calendar .zabuto_calendar table .calendar-month-header th .calendar-month-navigation span {
  padding: 0;
}
.widget.calendar .zabuto_calendar table .calendar-month-header th .calendar-month-navigation span i {
  color: #303030;
}
.widget.calendar .zabuto_calendar table .calendar-month-header th .calendar-month-navigation span i:hover {
  color: rgba(0, 188, 212,0.5);
}
.widget.calendar .zabuto_calendar table .calendar-dow-header th {
  background: #f5f5f5;
  border: none;
  border-bottom: 1px solid #e6e6e6;
  line-height: 50px;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: #303030;
  text-transform: uppercase;
}
.widget.calendar .zabuto_calendar table .calendar-dow td {
  border: none;
  color: #acacac;
  font-family: 'Lato', sans-serif;
}
.widget.calendar .zabuto_calendar table .calendar-dow td .badge.badge-today {
  padding: 0;
  width: 23px;
  border-radius: 100%;
  line-height: 21px;
  background: rgba(0, 188, 212,0.5);
  color: #303030;
  border: 1px solid #7f7f7f;
}
.widget.tags a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #acacac;
  margin-right: 5px;
  text-decoration: underline;
  line-height: 24px;
}
.widget_title {
  margin-top: 0;
  margin-bottom: 25px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #303030;
  text-transform: uppercase;
}
.tags_share {
  padding: 0 30px;
  font-size: 13px;
}
.tags_share .tags {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #000;
}
.tags_share .tags a {
  font-weight: 400;
  color: #acacac;
  margin-left: 5px;
}
.tags_share .tags a:hover {
  color: rgba(0, 188, 212,0.5);
}
.tags_share .tags a + a:before {
  content: ',';
  margin-left: -5px;
  margin-right: 5px;
}
.tags_share .tags a + a:hover {
  color: rgba(0, 188, 212,0.5);
}
.tags_share .tags a + a:hover:before {
  color: #acacac;
}
.tags_share ul li {
  font-size: 16px;
}
.tags_share ul li a {
  color: #acacac;
}
.tags_share ul li a:hover {
  color: #000;
}
nav .pager {
  padding: 0 30px;
  margin: 0;
}
nav .pager li a {
  padding: 0;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 12px;
  color: #acacac;
  text-transform: uppercase;
}
nav .pager li a i {
  margin-right: 5px;
}
nav .pager li a:hover {
  color: rgba(0, 188, 212,0.5);
  background: none;
}
.author_row {
  padding: 80px 30px 45px;
  text-align: center;
}
.author_row .authorName {
  text-transform: uppercase;
  color: #000;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  line-height: 30px;
  display: block;
  margin: 0;
}
.author_row .author_img {
  width: 80px;
  height: 80px;
  margin: 0 auto 5px;
}
.author_row .author_img img {
  width: 100%;
  border-radius: 100%;
}
.author_row .about {
  font-family: 'Lato', sans-serif;
  color: #acacac;
  line-height: 24px;
  max-width: 515px;
  margin: 0 auto 15px;
}
.author_row ul li {
  font-size: 16px;
}
.author_row ul li a {
  color: #acacac;
}
.author_row ul li a:hover {
  color: #000;
}
.comments {
  padding: 0 30px;
}
.comments h4 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
}
.commentForm {
  padding: 0 30px;
}
.commentForm h4 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  color: #000;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 16px;
}
.commentForm form .form-group {
  margin-bottom: 20px;
}
.commentForm form .form-group .col-sm-2 {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #acacac;
}
.commentForm form .form-group .form-control {
  border-radius: 3px;
}
.commentForm form .form-group textarea {
  height: 160px;
  resize: none;
}
.commentForm form button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  line-height: 40px;
  color: #303030;
  background: rgba(0, 188, 212,0.5);
  border-radius: 3px;
  padding: 0 25px;
  border: none;
  text-transform: uppercase;
}
.comment {
  margin-bottom: 50px;
}
.comment .media-left {
  padding-right: 30px;
}
.comment .media-left a {
  width: 73px;
  height: 73px;
  display: block;
}
.comment .media-left a img {
  width: 100%;
  border-radius: 100%;
}
.comment .media-body h5 {
  margin: 0 0 5px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  text-transform: uppercase;
  font-weight: bold;
}
.comment .media-body h6 {
  margin: 0 0 20px;
  font-family: 'Roboto', sans-serif;
  color: #acacac;
  font-style: italic;
  font-weight: 300;
}
.comment .media-body p {
  font-family: 'Lato', sans-serif;
  line-height: 24px;
  font-weight: 600;
  color: #303030;
}
.comment.commentInner {
  margin-left: 60px;
}
/*----------------------------------------------------------------*/
.mapRow {
  position: relative;
}
.mapRow .mapDiv {
  position: relative;
  z-index: 2;
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  height: 390px;
}
.mapRow .mapDiv #mapBox {
  height: 100%;
}
.mapRow .mapBg {
  position: absolute;
  z-index: 0;
  width: -webkit-calc(100% - 10px);
  width: calc(100% - 10px);
  height: 100%;
  top: 10px;
  left: 10px;
  background: rgba(0, 188, 212,0.5);
  border-radius: 3px;
}
.mapRow i {
  position: absolute;
  right: 0;
  bottom: -10px;
  font-size: 48px;
  color: #303030;
  background: rgba(0, 188, 212,0.5);
  line-height: 100px;
  width: 100px;
  z-index: 3;
  text-align: center;
}
.shotInfo .logo_header {
  display: inline-block;
  clear: both;
  margin-bottom: 20px;
}
.shotInfo p {
  font-family: 'Lato', sans-serif;
  color: #303030;
  line-height: 24px;
  margin: 0;
  font-weight: 400;
}
.all_locations {
  text-transform: uppercase;
  color: rgba(0, 188, 212,0.5);
  line-height: 1;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.all_locations i {
  margin-right: 5px;
}
.all_locations:hover {
  color: #303030;
}
.addressRow {
  margin: 35px -15px 25px;
}
.addressRow .addressCol {
  min-width: 242px;
  margin: 15px 0;
}
.addressRow .addressCol h5 {
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 15px;
}
.addressRow .addressCol ul {
  margin: 0;
}
.addressRow .addressCol ul li {
  line-height: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #303030;
}
.addressRow .addressCol ul li i {
  margin-right: 20px;
}
#contactFormRow {
  background: url('../images/blog/contactForm.jpg') no-repeat scroll center bottom rgba(0, 188, 212,0.5);
}
#contactFormRow .contactFormRow {
  position: relative;
}
#contactForm {
  max-width: 770px;
  margin: 0 auto;
}
#contactForm .form-group {
  margin-bottom: 20px;
}
#contactForm .form-group .form-control {
  color: #303030;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  border-radius: 0;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#contactForm .form-group .form-control::-moz-placeholder {
  color: #303030;
  opacity: 0.6;
}
#contactForm .form-group .form-control:-ms-input-placeholder {
  color: #303030;
  opacity: 0.6;
}
#contactForm .form-group .form-control::-webkit-input-placeholder {
  color: #303030;
  opacity: 0.6;
}
#contactForm .form-group textarea.form-control {
  resize: none;
  height: 150px;
}
#contactForm .form-group.submitRow {
  text-align: center;
  margin: 0;
}
#contactForm .form-group.submitRow button[type="submit"] {
  text-transform: uppercase;
  border-radius: 3px;
  border: 2px solid  #000;
  line-height: 40px;
  padding: 0 30px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  background-color: transparent;
}
#success,
#error {
  display: none;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
#success .textcenter,
#error .textcenter {
  display: block;
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  padding-top: 5%;
}
#success .textcenter span,
#error .textcenter span {
  margin-top: 6em;
}
#success .textcenter span {
  color: #9bd32d;
}
#error .textcenter span {
  color: #c0392b;
}
/*----------------------------------------------------------------*/
