		*{
			padding: 0;
			margin: 0;
			box-sizing: border-box;
		}

		ul, ol{
			list-style: none;
		}

		.card{
			width: 30%;
			position: relative;
			

		}

		.card-header img{
			width: 100% ;
		}

		.card-body h5{
			font-size: 20px;
			color: blue ;
		}
		.card:hover{
			position: relative;
		}

		.card:hover .card-body{
			/*animation: toTop 2s both;*/
			position: absolute;
			transition: top 1s ease-in;
			top: 100%;
		}

		